<h1>Welcome to Chitter</h1>

<% @peeps.each do |peep| %>
    <li> <%= peep.content %> </li>    
<% end %>

<form action="/chitter/peep" method=post>
    <input type=text name=peep_text>
    <input type=submit value="Post Peep">
</form>